# Virtual Environment
venv/

# Logs
logs/

# Package Info
RAG_Medcal_Chatbot.egg-info/

# Environment Variables
.env

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

checkout scmGit(branches: [[name: '*/main']], extensions: [], userRemoteConfigs: [[credentialsId: 'github-token', url: 'https://github.com/adeelehsan/genai_bootcamp.git']])