langchain>=0.3.0,<0.4.0
langchain-core>=0.3.0,<0.4.0
langchain-community>=0.3.0,<0.4.0
langchain-huggingface>=0.1.0
langchain-groq>=0.2.0
langchain-text-splitters>=0.3.0
langchain-chroma>=0.1.0
sentence-transformers>=3.0.0
datasets
pypdf
python-dotenv
pandas
flask
prometheus_client